<div>
{% if reviews %}
	<div class="review-list">
		{% for review in reviews %}
			<div class="review-list__item uni-item {{ votes_status and review.most_popular ? 'popular' }}">
				<div class="review-list__info">
					<div class="review-list__rating rating"> 
						{% for i in 1..5 %}
							<i class="{{ review.rating < i ? 'far' : 'fa' }} fa-star"></i>
						{% endfor %}
					</div>
					<div class="review-list__name"><i class="review-list__icon fa fa-user"></i>{{ review.author }}</div>
					<div class="review-list__date"><i class="review-list__icon fa fa-calendar"></i>{{ review.date_added }}</div>
					{% if votes_status %}
						<div class="review-list__votes">
							<i class="review-list__icon fas fa-thumbs-up" data-id="{{ review.review_id }}" data-vote="plus"></i><span class="review-list__votes-plus-qty">{{ review.votes_plus }}</span>
							<i class="review-list__icon fas fa-thumbs-down" data-id="{{ review.review_id }}" data-vote="minus"></i><span class="review-list__votes-minus-qty">{{ review.votes_minus }}</span>
						</div>
					{% endif %}
				</div>
				<div class="review-list__info-text">
					{% if review.plus %}
						<div class="review-list__plus">
							<div class="review-list__plus-heading">{{ text_review_plus }}</div>
							{{ review.plus }}
						</div>
					{% endif %}
					{% if review.minus %}
						<div class="review-list__minus">
							<div class="review-list__minus-heading">{{ text_review_minus }}</div>
							{{ review.minus }}
						</div>
					{% endif %}
					<div class="review-list__comment">
						{% if review.plus or review.minus %}<div class="review-list__comment-heading">{{ text_review_comment }}</div>{% endif %}
						{{ review.text }}
					</div>
					{% if review.admin_reply %} 
						<div class="review-list__reply">
							<div class="review-list__reply-heading">{{ text_admin_reply }}</div>
							{{ review.admin_reply }}
						</div>
					{% endif %}
				</div>
				{% if votes_status and review.most_popular %}
					<div><span class="review-list__popular-text {{ review.plus is empty and review.minus is empty ? 'static' }}">{{ text_most_popular_review }}</span></div>
				{% endif %}
			</div>
		{% endfor %}
		{% if votes_status %}
			<script>
				$('.review-list__icon').on('click', function() {
					let $this = $(this), id = $this.data('id'), vote = $this.data('vote'), total = parseInt($this.next().text() != '' ? $this.next().text() : 0);
						
					$.ajax({
						url: 'index.php?route=extension/module/uni_new_data/setReviewsVotes',
						type: 'post',
						dataType: 'json',
						data: 'id='+id+'&vote='+vote,
						success: function(json) {
							if (json['error']) {
								uniFlyAlert('warning', json['error']);
							}
							if (json['success']) {
								uniFlyAlert('success', json['success']);
								$this.next().text(total+1);
							}
						}
					});
				});
			</script>
		{% endif %}
		{% if review_show_more %}
			<div class="show-more-review">
				<button class="show-more-review__btn btn btn-xl btn-default"><span>{{ button_show_more_reviews }}</span></button>
			</div>
			<script>
				$(function() {
					$('.show-more-review__btn').on('click', function() {
						$.get('index.php?route=extension/module/uni_new_data/getReviewsRender&pid={{ product_id}}&start={{ start }}&limit={{ limit }}', (data) => {
							const $data = $(data);
				
							$data.find('.review-list__item').hide();
				
							$('.review-list').append($data.find('.review-list').html());
					
							$(this).parent().remove();
					
							$('.review-list__item').fadeIn();
						});
					});
				});
			</script>
		{% endif %}
	</div>
{% else %}
	<p>{{ text_no_reviews }}</p>
{% endif %}
</div>