{{ header }}
<div class="container">
	<div class="breadcrumb-h1 {{ menu_expanded ? 'col-md-offset-3 col-lg-offset-3 col-xxl-offset-4' }}">
		<ul class="breadcrumb mobile">
			{% for key, breadcrumb in breadcrumbs %}
				{% if key + 1 < breadcrumbs|length %}
					<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% else %}
					{% if not hide_last_breadcrumb or (hide_last_breadcrumb and key == 1) %}<li>{{ breadcrumb.text }}</li>{% endif %}
				{% endif %}
			{% endfor %}
		</ul>
		<h1>{{ heading_title }}</h1>
	</div>
	<div class="row">
		{{ column_left }}
		{% if column_left and column_right %}
			{% set class = 'col-sm-4 col-md-6 col-lg-6 col-xxl-12' %}
		{% elseif column_left or column_right %}
			{% set class = 'col-sm-8 col-md-9 col-lg-9 col-xxl-16' %}
		{% else %}
			{% set class = 'col-sm-12' %}
		{% endif %}
		<div id="content" class="{{ class }}">
			{{ content_top }}
			{% if articles %}
				<div class="sorts-block">
					<div class="sorts-block__wrapper hidden-xs hidden-sm" style="flex:0;margin-left:auto">
						{% for key, sorts in sorts %}
							{% if sort in sorts.value and order not in sorts.value %}
								<span data-href="{{ sorts.href }}" class="sorts-block__span uni-href selected {{ 'ASC' in sorts.value ? 'up' : 'down' }}">{{ sorts.text|split('(')[0] }}</span>
							{% elseif sort not in sorts.value and 'DESC' not in sorts.value %}
								<span data-href="{{ sorts.href }}" class="sorts-block__span uni-href">{{ sorts.text|split('(')[0] }}</span>
							{% endif %}
						{% endfor %}
					</div>
					<select id="input-sort" class="sorts-block__select form-control visible-xs visible-sm" onchange="location = this.value;">
						{% for sorts in sorts %}
							{% if sorts.value == '%s-%s'|format(sort, order) %}
								<option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
							{% else %}
								<option value="{{ sorts.href }}">{{ sorts.text }}</option>
							{% endif %}
						{% endfor %}
					</select>
					<select id="input-limit" class="sorts-block__select sorts-block__limit form-control" style="margin:0" onchange="location = this.value;">
						{% for limits in limits %}
							{% if limits.value == limit %}
								<option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>
							{% else %}
								<option value="{{ limits.href }}">{{ limits.text }}</option>
							{% endif %}
						{% endfor %}
					</select>
				</div>
				<hr />
				<div class="article-list row">
					{% if column_left and column_right %}
						{% set class = 'col-sm-12 col-md-12 col-lg-6 col-xxl-6-1' %}
					{% elseif column_left or column_right %}
						{% set class = 'col-sm-6 col-md-4 col-lg-4 col-xxl-5' %}
					{% else %}
						{% set class = 'col-sm-6 col-md-3 col-lg-3 col-xxl-4' %}
					{% endif %}
					{% for article in articles %}
						<div class="article-list__layout {{ class }}">
							<div class="article-list__item uni-item">
								{% if article.thumb %}
									<div class="article-list__image">
										<img src="{{ article.thumb }}" loading="lazy" alt="{{ article.name }}" title="{{ article.name }}" data-href="{{ article.href }}" class="uni-href img-responsive" width="{{ img_width }}" height="{{ img_height }}" />
									</div>
								{% endif %}
								<div class="article-list__description">
									<div class="article-list__category-date-viewed">
										<span class="article-list__date"><i class="fa fa-calendar"></i>{{ article.date_added }}</span>
										<span class="article-list__viewed"><i class="fa fa-eye"></i>{{ article.viewed }}</span>
										<span class="article-list__rating rating">
											{% for i in 1..5 %}<i class="{{ article.rating < i ? 'far fa-star' : 'fa fa-star' }}"></i>{% endfor %} 
										</span>
									</div>
									<a class="article-list__name" href="{{ article.href }}" title="{{ article.name }}">{{ article.name }}</a>
									<div class="article-list__text">
										{{ article.description }}
										<a title="{{ text_more }}" data-toggle="tooltip" data-href="{{ article.href }}" class="article-list__more uni-href">&rarr;</a>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
				{{ pagination }}
			    <div class="pagination-text">{{ results }}</div>
			{% else %}
				<p>{{ text_empty }}</p>
				<div class="buttons">
					<div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
				</div>
			{% endif %}
			{{ content_bottom }}
		</div>
		{{ column_right }}
	</div>
</div>
{{ footer }}