{% if slides %}
	<div class="uni-slideshow_v2-{{ module }} uni-slideshow_v2 {{ hide_on_mobile ? 'hidden-on-mobile' }}">
		{% for key, slide in slides %}
			<div class="uni-slideshow_v2__item item-{{ key }} {{ slide.text_over_image ? 'text-over-image' }} {{ slide.link ? 'uni-href' }}" {{ slide.link ? 'data-href="'~slide.link~'"' }}>
				<picture class="uni-slideshow_v2__image {{ slide.text_over_image ? 'text-over-image' }} {{ slide.has_text ? 'has-text' }}">
					{% if slide.image_mobile %}
						<source srcset="{{ slide.image_mobile }}" media="(max-width:575px)" />
					{% endif %}
					<source srcset="{{ slide.image }}" />
					<img src="{{ slide.image }}" class="uni-slideshow_v2__img" alt="{{ slide.title }}" width="{{ slide.width }}" height="{{ slide.height }}" {{ key > 0 ? 'loading="lazy"' }} decoding="async" />
				</picture>
				{% if slide.title and slide.text %}
					<div class="uni-slideshow_v2__description {{ slide.text_over_image ? 'text-over-image' }} {{ slide.text_hide_mobile ? 'hide-in-mobile' }}">
						<div class="uni-slideshow_v2__title">{{ slide.title }}</div>
						<div class="uni-slideshow_v2__text">{{ slide.text }}</div>
						{% if slide.button %}
							<div class="uni-slideshow_v2__btns">
								<button class="uni-slideshow_v2__btn uni-href btn btn-lg" data-href="{{ slide.link }}">{{ slide.button }}</button>
							</div>
						{% endif %}
					</div>
				{% endif %}
			</div>
		{% endfor %}
	</div>
	<script>
		$(function() {
			let style_{{ module }} = '<style>';
	
			if(!$('#column-left').length && !$('#column-right').length) {
				style_{{ module }} += '@media (min-width:767px) {body:not(.touch-support) .uni-slideshow_v2__item {height:100% !important} body:not(.touch-support) .uni-slideshow_v2__image.text-over-image img{width:100%;max-width:100%;height:auto;max-height:{{ max_height }}px;object-fit:contain !important} }';
			} else {
				style_{{ module }} += '@media (max-width:767px) {.uni-slideshow_v2-{{ module }} .uni-slideshow_v2__item{height:{{ max_height_mobile }}px}.uni-slideshow_v2__img {min-height:{{ max_height_mobile }}px;max-height:{{ max_height_mobile }}px}}';
				style_{{ module }} += '@media (min-width:767px) {.uni-slideshow_v2-{{ module }} .uni-slideshow_v2__item{height:{{ max_height }}px}.uni-slideshow_v2__img {max-height:{{ max_height }}px}}';
			}
		
			style_{{ module }} += '</style>';
	
			$('head').append(style_{{ module }});
		
			{% set status = slides|length > 1 ? 'true' : 'false' %}
	
			$('.uni-slideshow_v2-{{ module }}').addClass('owl-carousel').owlCarousel({
				items:1,
				autoplay:true,
				{% if effect_in != 'disabled' and effect_out != 'disabled' %}
				animateIn:'{{ effect_in }}',
				animateOut:'{{ effect_out }}',
				{% endif %}
				autoplayTimeout:{{ delay > 0 ? delay*1000 : 5000 }},
				autoplayHoverPause:true,
				mouseDrag:{{ status }},
				touchDrag:{{ status }},
				nav:true,
				loop: {{ status }},
				navText: ['<i class="fa fa-chevron-left"></i>', '<i class="fa fa-chevron-right"></i>'],
			});
		});
	</script>
{% endif %}