<div class="question-info">
	<div class="question-info__total">{{ text_question_total }}</div>
	<button class="btn btn-sm btn-primary" onclick="$('.question-form-wrapper').collapse('toggle');">{{ button_new_request }}</button>
</div>
<div class="question-form-wrapper collapse">
	<form class="question-form form-horizontal uni-form" id="form-question">
		{% if request_guest %}
			<div class="form-group required">
				<label class="col-sm-2 control-label">{{ entry_request_name }}</label>
				<div class="col-sm-10">
					<input type="text" name="name" value="{{ customer_firstname }}" class="form-control" />
				</div>
			</div>
			{% if show_phone %}
				<div class="form-group required">
					<label class="col-sm-2 control-label">{{ entry_request_phone }}</label>
					<div class="col-sm-10">
						<input type="tel" name="phone" value="{{ customer_telephone }}" class="question-form__telephone form-control" />
					</div>
				</div>
			{% endif %}
			{% if show_email %}
				<div class="form-group {{ show_email_required ? 'required' }} ">
					<label class="col-sm-2 control-label">{{ entry_request_mail }} {{ show_email_required is empty ? entry_request_mail_required }}</label>
					<div class="col-sm-10">
						<input type="text" name="mail" value="{{ customer_email }}" class="form-control" />
					</div>
				</div>
			{% endif %}
			<div class="form-group required">
				<label class="col-sm-2 control-label">{{ entry_request_text }}</label>
				<div class="col-sm-10">
					<textarea name="comment" rows="5" class="form-control"></textarea>
					<!-- <div class="help-block"><small>{{ text_note }}</small></div> -->
				</div>
			</div>
			{{ captcha }}
			{% if text_agree %}
				<div class="form-group">
					<div class="col-sm-2 hidden-xs"></div>
					<div class="col-sm-10">
						<label class="question-form__agree input"><input type="checkbox" name="confirm" value="1" /><span>{{ text_agree }}</span></label>
					</div>
				</div>
			{% endif %}
			<div class="form-group">
				<div class="col-sm-2 hidden-xs"></div>
				<div class="col-sm-10">
					<button type="button" id="button-request" data-loading-text="{{ text_loading }}" class="question-form__btn btn btn-lg btn-primary">{{ button_add_new_request }}</button>
				</div>
			</div>
			
			<input type="hidden" name="type" value="{{ type }}" />
			<input type="hidden" name="product_id" value="{{ product_id }}" />
			<input type="hidden" name="form-name" value="question" />
		{% else %}
			{{ text_login }}
		{% endif %}
	</form>
</div>
	<div>
	<div class="question-list">
		{% if questions %}
			{% for request in questions %}
				<div class="question-list__item uni-item row">
					<div class="col-xs-12 col-sm-2 col-xxl-3">
						<div class="question-list__name"><i class="question-list__icon fa fa-user"></i>{{ request.name }}</div>
						<div class="question-list__date"><i class="question-list__icon fa fa-calendar"></i>{{ request.date_added }}</div>
					</div>
					<div class="col-xs-12 col-sm-10 col-xxl-17">
						<div class="question-list__comment">
							<!-- <div class="question-list__comment-heading">{{ text_question_comment }}</div> -->
							{{ request.comment }}
						</div>
						{% if request.admin_comment %}
							<div class="question-list__reply">
								<div class="question-list__reply-heading">{{ text_admin_reply }}</div>
								{{ request.admin_comment }}
							</div>
						{% endif %}
					</div>
				</div>
			{% endfor %}
			{% if question_show_more %}
				<div class="show-more-question">
					<button class="show-more-question__btn btn btn-xl btn-default"><span>{{ button_show_more_question }}</span></button>
				</div>
				<script>
					$(function() {
						$('.show-more-question__btn').on('click', function() {
							$.get('index.php?route=extension/module/uni_request/getQuestionsRender&pid={{ product_id}}&start={{ start }}&limit={{ limit }}', (data) => {
								const $data = $(data);
					
								$data.find('.question-list__item').hide();
				
								$('.question-list').append($data.find('.question-list').html());
					
								$(this).parent().remove();
					
								$('.question-list__item').fadeIn();
							});
						});
					});
				</script>
			{% endif %}
		{% else %}
			<p>{{ text_no_requests }}</p>
		{% endif %}
	</div>
</div>
{% if questions %}
	<script type="application/ld+json">
		{
			"@context": "https://schema.org",
			"@type": "FAQPage",
			"mainEntity": [
			{% for i, data in microdata %}
				{
				"@type": "Question",
				"name": "{{ data.question }}",
				"acceptedAnswer": {
					"@type": "Answer",
					"text": "{{ data.answer }}"
				}
				{{ i+1 < microdata|length ? '},' : '}' }}
			{% endfor %}
			]
		}
	</script>
{% endif %}
<script>
	{% if mask_telephone %}
		$('.question-form__telephone').mask('{{ mask_telephone }}').data('start', 0).on('click', function() {
			const start = $(this).val().indexOf('_');
			if(!$(this).data('start')) $(this).data('start', start);
			if(start == $(this).data('start')) $(this)[0].setSelectionRange(start, start);
		});
	{% endif %}

	$('body').find('.tab-question span').removeClass('hidden').text('{{ requests_total }}');
		
	$('#button-request').on('click', function() {
		var form = '#form-question';
		
		$.ajax({
			url: 'index.php?route=extension/module/uni_request/mail',
			type: 'post',
			data: $(form+' input, '+form+' textarea').serialize(),
			dataType: 'json',
			beforeSend: function() {
				$('#button-request').button('loading');
			},
			complete: function() {
				$('#button-request').button('reset');
			},
			success: function(json) {
				$(form+' .text-danger').remove();
					
				if (json['success']) {
					$(form).before('<div class="alert alert-success"><i class="fa fa-check-circle"></i> '+json['success']+' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
					$(form).slideToggle();
					$(form+' input, '+form+' textarea').val('');
					
					uniScrollTo('.alert.alert-success');
				}
				
				if (json['error']) {
					for (i in json['error']) {
						form_error(form, i, json['error'][i]);
					}
					
					uniFlyAlert('danger', json['error']);
				}
			}
		});
	});
</script>