<div id="modal-quick-order" class="modal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">{{ name }}</h4>
			</div>
			<div id="quick_order" class="modal-body quick-order product-block">
				<div class="row">
					<div class="quick-order__image col-xs-12 col-sm-5 col-md-5">
						{% include 'unishop2/template/extension/module/uni_stickers.twig' %}
						{% if thumb %}
							<div class="quick-order__image-main">
								<img src="{{ thumb }}" title="{{ name }}" alt="{{ name }}" class="quick-order__img img-responsive" />
							</div>
						{% endif %}
						
						{% set options_img = false %}
						
						{% if options and change_opt_img_q %}
							{% for option in options if not break %}
								{% if option.type == 'checkbox' or option.type == 'radio' or option.type == 'datetime' %}
									{% for option_value in option.product_option_value %}
										{% if option_value.image %}
											{% set options_img = true %}
										{% endif %}
									{% endfor %}
								{% endif %}
							{% endfor %}
						{% endif %}
						{% if (images and not is_product_page) or (images and options_img) %}
							<div class="quick-order__image-additional owl-carousel">
								<img src="{{ small }}" data-image="{{ thumb }}" alt="" class="quick-order__image-additional-img img-responsive selected" />
								{% for image in images %}
									<img src="{{ image.small }}" data-image="{{ image.thumb }}" alt="" class="quick-order__image-additional-img img-responsive" />
								{% endfor %}
							</div>
						{% endif %}
					</div>
					<div class="quick-order__product col-xs-12 col-sm-7 col-md-7">
						<div class="product-data">
							{% if show_model %}
								<div class="product-data__item model"><div class="product-data__item-div"><span class="product-data__item-span">{{ text_model }}</span></div> {{ model }}</div>
							{% endif %}
							{% if show_sku %}
								<div class="product-data__item sku"><div class="product-data__item-div"><span class="product-data__item-span">{{ text_sku }}:</span></div> {{ sku }}</div>
							{% endif %}
							{% if show_manuf and manufacturer %}
								<div class="product-data__item manufacturer"><div class="product-data__item-div"><span class="product-data__item-span">{{ text_manufacturer }}</span></div><a href="{{ manufacturers }}">{{ manufacturer }}</a></div>
							{% endif %}
							{% if show_location %}
								<div class="product-data__item location"><div class="product-data__item-div"><span class="product-data__item-span">{{ text_location }}:</span></div> {{ location }}</div>
							{% endif %}
							{% if reward and show_reward == 1 or show_reward == 3 %}
								<div class="product-data__item reward"><div class="product-data__item-div"><span class="product-data__item-span">{{ text_reward }}</span></div> {{ reward }}</div>
							{% endif %}
							{% if points and show_reward == 2 or show_reward == 3 %}
								<div class="product-data__item points"><div class="product-data__item-div"><span class="product-data__item-span">{{ text_points }}</span></div> {{ points }}</div>
							{% endif %}
							{% if show_upc %}
								<div class="product-data__item upc"><div class="product-data__item-div"><span class="product-data__item-span">{{ text_upc }}:</span></div> {{ upc }}</div>
							{% endif %}
							{% if show_ean %}
								<div class="product-data__item ean"><div class="product-data__item-div"><span class="product-data__item-span">{{ text_ean }}:</span></div> {{ ean }}</div>
							{% endif %}
							{% if show_jan %}
								<div class="product-data__item jan"><div class="product-data__item-div"><span class="product-data__item-span">{{ text_jan }}:</span></div> {{ jan }}</div>
							{% endif %}
							{% if show_isbn %}
								<div class="product-data__item isbn"><div class="product-data__item-div"><span class="product-data__item-span">{{ text_isbn }}:</span></div> {{ isbn }}</div>
							{% endif %}
							{% if show_mpn %}
								<div class="product-data__item mpn"><div class="product-data__item-div"><span class="product-data__item-span">{{ text_mpn }}:</span></div> {{ mpn }}</div>
							{% endif %}
							{% if not product.quantity_indicator %}
								<div class="product-data__item stock"><div class="product-data__item-div"><span class="product-data__item-span">{{ text_stock }}</span></div> {{ stock }}</div>
							{% endif %}
							{% if show_length == 1 or show_length == 3 %}
								{% if length %}<div class="product-data__item length"><div class="product-data__item-div"><span class="product-data__item-span">{{ text_length }}</span></div> {{ length }}</div>{% endif %}
								{% if weight %}<div class="product-data__item weight"><div class="product-data__item-div"><span class="product-data__item-span">{{ text_weight }}</span></div> {{ weight }}</div>{% endif %}
							{% endif %}
						</div>
						{% if product.quantity_indicator %}
							{% include 'unishop2/template/extension/module/uni_quantity_indicator.twig' %}
						{% endif %}
						{% if price %}
							<div class="quick-order__price price" data-price="{{ price_value }}" data-special="{{ special_value }}" data-discount="{{ discounts_value }}">
								{% if special %}
									<span class="price-old">{{ price }}</span> <span class="price-new">{{ special }}</span>
								{% else %}
									{{ price }}
								{% endif %}
							</div>
							{% if tax %}<div class="price-tax">{{ text_tax }} {{ tax }}</div>{% endif %}
							{% if discounts %}
								<div class="quick-order__discount">
									{% for discount in discounts %}
										<div class="quick-order__discount-item">{{ discount.quantity }} {{ text_discount }} {{ discount.price }}</div>
									{% endfor %}
								</div>
							{% endif %}
						{% endif %}
						{% if options %}
							<div class="quick-order__option option row">
								{% for option in options %}
									{% if option.type == 'select' %}
										<div class="option__group col-xs-12 col-md-6">
											<label class="option__group-name" for="input-option{{ option.product_option_id }}">{{ option.required ? '*' }} {{ option.name }}:</label>
											<select name="option[{{ option.product_option_id }}]" id="input-option{{ option.product_option_id }}" class="option__select form-control">
												<option value="">{{ text_select }}</option>
												{% for option_value in option.product_option_value %}
													<option value="{{ option_value.product_option_value_id }}" data-maximum="{{ option_value.maximum }}" data-prefix="{{ option_value.price_prefix }}" data-price="{{ option_value.price_value }}" {{ option_value.ended ? 'disabled="disabled"' }}>
														{{ option_value.name }} {{ option_value.price ? '(' ~ option_value.price_prefix ~ '' ~ option_value.price ~ ')' }}
													</option>
												{% endfor %}
											</select>
										</div>
									{% endif %}
									{% if option.type == 'radio' or option.type == 'checkbox' %}
										<div class="option__group col-xs-12">
											<label class="option__group-name">{{ option.required ? '*' }} {{ option.name }}:</label>
											<div id="input-option{{ option.product_option_id }}">
												{% for option_value in option.product_option_value %}
													<label class="option__item {{ option_value.ended ? 'ended' }}" {{ option_value.price and not option_value.image and not option_value.ended ? 'data-toggle="tooltip" title="'~option_value.price_prefix~' '~option_value.price~'"' }}>
														{% if option.type == 'radio' %}
															<input type="radio" name="option[{{ option.product_option_id }}]" value="{{ option_value.product_option_value_id }}" data-maximum="{{ option_value.maximum }}" data-prefix="{{ option_value.price_prefix }}" data-price="{{ option_value.price_value }}" {{ option_value.ended ? 'disabled="disabled"' }} />
														{% else %}
															<input type="checkbox" name="option[{{ option.product_option_id }}][]" value="{{ option_value.product_option_value_id }}" data-maximum="{{ option_value.maximum }}" data-prefix="{{ option_value.price_prefix }}" data-price="{{ option_value.price_value }}" {{ option_value.ended ? 'disabled="disabled"' }} />
														{% endif %}
														{% if option_value.image %}
															<img src="{{ option_value.image }}" alt="{{ option_value.name }} {{ option_value.price ? option_value.price_prefix ~ '' ~ option_value.price }}" data-type="quick-order" data-thumb="{{ option_value.small }}" data-full="{{ option_value.full }}" class="option__img" />
														{% else %}
															<span class="option__name">{{ option_value.name }}</span>
														{% endif %}
													</label>
												{% endfor %}
											</div>
										</div>
									{% endif %}
									{% if option.type == 'text' %}
										<div class="form-group col-xs-12">
											<label class="option__group-name" for="input-option{{ option.product_option_id }}">{{ option.required ? '*' }} {{ option.name }}</label>
											<input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="form-control" />
										</div>
									{% endif %}
									{% if option.type == 'textarea' %}
										<div class="form-group col-xs-12">
											<label class="option__group-name" for="input-option{{ option.product_option_id }}">{{ option.required ? '*' }} {{ option.name }}</label>
											<textarea name="option[{{ option.product_option_id }}]" rows="5" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="form-control">{{ option.value }}</textarea>
										</div>
									{% endif %}
									{% if option.type == 'file' %}
										<div class="form-group col-xs-12">
											<label class="option__group-name">{{ option.required ? '*' }} {{ option.name }}</label>
											<button type="button" id="button-upload-{{ option.product_option_id }}" data-loading-text="{{ text_loading }}" class="button-upload-{{ product_id }} btn btn-default btn-block"><i class="fa fa-upload"></i> {{ button_upload }}</button>
											<input type="hidden" name="option[{{ option.product_option_id }}]" value="" id="input-option{{ option.product_option_id }}" />
										</div>
									{% endif %}
									{% if option.type == 'date' %}
										<div class="form-group col-xs-12">
											<label class="option__group-name" for="input-option{{ option.product_option_id }}">{{ option.required ? '*' }} {{ option.name }}</label>
											<div class="input-group date">
												<input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD" data-locale="{{ datepicker }}" id="input-option{{ option.product_option_id }}" class="form-control" />
												<span class="input-group-btn"><button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button></span>
											</div>
										</div>
									{% endif %}
									{% if option.type == 'datetime' %}
										<div class="form-group col-xs-12">
											<label class="option__group-name" for="input-option{{ option.product_option_id }}">{{ option.required ? '*' }} {{ option.name }}</label>
											<div class="input-group datetime">
												<input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD HH:mm" data-locale="{{ datepicker }}" id="input-option{{ option.product_option_id }}" class="form-control" />
												<span class="input-group-btn"><button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button></span>
											</div>
										</div>
									{% endif %}
									{% if option.type == 'time' %}
										<div class="form-group col-xs-12">
											<label class="option__group-name" for="input-option{{ option.product_option_id }}">{{ option.required ? '*' }} {{ option.name }}</label>
											<div class="input-group time">
												<input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="HH:mm" id="input-option{{ option.product_option_id }}" class="form-control" />
												<span class="input-group-btn"><button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button></span>
											</div>
										</div>
									{% endif %}
								{% endfor %}
							</div>
						{% endif %}
						{% if textblock %}
							<div class="quick-order__textblock"><div class="quick-order__textblock-inner">{{ textblock }}</div></div>
						{% endif %}
						<!--
							<div class="qty-switch">
								<input type="text" name="quantity" value="{{ minimum }}" data-minimum="{{ minimum }}" id="input-quantity" class="qty-switch__input form-control" />
								<div>
									<i class="qty-switch__btn fa fa-plus btn-default"></i>
									<i class="qty-switch__btn fa fa-minus btn-default"></i>
								</div>
							</div>
							<button type="button" class="add_to_cart btn btn-xl {{ cart_btn_class }}" title="{{ cart_btn_text }}" data-pid="{{ product_id }}" onclick="cart.add({{ product_id }}, this)"><i class="{{ cart_btn_icon }}"></i><span>{{ cart_btn_text }}</span></button>
						-->

					</div>
				</div>
				<div style="height:10px"></div>
				{% if not is_product_page and (description or attribute_groups or uni_product_tabs) %}
					<ul class="nav nav-tabs {{ attribute_groups is empty and uni_product_tabs is empty ? 'hidden' }}">
						{% if description %}
							<li class="active"><a href="#quick-order__description" data-toggle="tab">{{ text_description }}</a></li>
						{% endif %}
						{% if attribute_groups %}
							<li><a href="#quick-order__attribute" data-toggle="tab">{{ text_attributes }}</a></li>
						{% endif %}
						{% if uni_product_tabs %}
							{% for tab in uni_product_tabs %}
								<li><a href="#quick-order__{{ tab.id }}" class="tab-{{ tab.id }}" data-toggle="tab">{{ tab.title }} <span class="uni-badge hidden"></span></a></li>
							{% endfor %}
						{% endif %}
					</ul>
					<div class="quick-order__tab-content tab-content">
						{% if description %}
							<div id="quick-order__description" class="tab-pane quick-order__description active">
								{{ description }}
								<a href="{{ href }}#tab-description" title="" class="quick-order__more">{{ text_more }}</a>
							</div>
						{% endif %}
						{% if attribute_groups %}
							<div id="quick-order__attribute" class="tab-pane quick-order__attribute {{ description is empty ? 'active' }}">
								<div class="product-data">
									{% for attribute in attribute_groups %}
										<div class="product-data__item"><div class="product-data__item-div">{{ attribute.name }}</div> {{ attribute.text }}</div>
									{% endfor %}
									{% if show_length > 1 %}
										{% if length %}
											<div class="product-data__item length"><div class="product-data__item-div">{{ text_length }}</div> {{ length }}</div>
										{% endif %}
										{% if weight %}
											<div class="product-data__item weight"><div class="product-data__item-div">{{ text_weight }}</div> {{ weight }}</div>
										{% endif %}
									{% endif %}
								</div>
							</div>
						{% endif %}
						{% if uni_product_tabs %}
							{% for tab in uni_product_tabs %}
								<div class="tab-pane" id="quick-order__{{ tab.id }}">{{ tab.description }}</div>
							{% endfor %}
						{% endif %}
					</div>
				{% endif %}
				<div class="heading" style="font-size:1.2em">{{ text_contact_data }}</div>
				<form class="quick-order__form row-flex">
					{% for key, input in inputs %}
						<input type="{{ input.type }}" name="{{ key }}" value="{{ input.value }}" placeholder="{{ input.placeholder }} {{ input.required ? '*' }}" autocomplete="off" class="quick-order__input form-control {{ input.status is empty ? 'hidden' }}" />
					{% endfor %}
				</form>
				<input type="hidden" name="comment2" value="" />
				<script>if($('.quick-order__input').not('.hidden').length%2) $('.quick-order__input').not('.hidden').last().addClass('full-width');</script>
				{{ captcha }}
				{% if text_agree %}
					<div class="quick-order__agree">
						<label class="input"><input id="confirm" type="checkbox" name="confirm" value="1" /><span>{{ text_agree }}</span></label>
					</div>
				{% endif %}
				<div class="quick-order__cart">
					<input type="hidden" name="product_id" value="{{ product_id }}" />
					<div class="qty-switch">
						<input type="text" name="quantity" value="{{ minimum }}" data-minimum="{{ minimum }}" data-maximum="{{ maximum }}" id="input-quantity" class="qty-switch__input form-control" />
						<div>
							<i class="qty-switch__btn fa fa-plus btn-default"></i>
							<i class="qty-switch__btn fa fa-minus btn-default"></i>
						</div>
					</div>
					<button type="button" onclick="uniQuickOrderAdd()" data-loading-text="{{ text_loading }}" class="add_to_cart btn btn-xl"><i class="{{ cart_btn_icon }}"></i> <span>{{ text_order_button }}</span></button>
				</div>
				{% if minimum > 1 %}<div class="quick-order__minimum"><i class="fa fa-info-circle"></i> {{ text_minimum }}</div>{% endif %}
				<input type="hidden" name="currency" value="{{ currency }}" />
				{% if options %}
					{% set break = false %}
					{% for option in options if not break %}
						{% if option.type == 'date' or option.type == 'time' or option.type == 'datetime' %}
							<script src="catalog/view/javascript/jquery/datetimepicker/moment/moment.min.js"></script>
							<script src="catalog/view/javascript/jquery/datetimepicker/moment/moment-with-locales.min.js"></script>
							<script src="catalog/view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.js"></script>
							<link href="catalog/view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen" />
							<style>.bootstrap-datetimepicker-widget {z-index: 9999999999!important;position:absolute !important}</style>
							<script>			
								$('.date').datetimepicker({
									pickTime: false,
									language: $('html').attr('lang')
								});
								$('.datetime').datetimepicker({
									pickDate: true,
									pickTime: true
								});
								$('.time').datetimepicker({
									pickDate: false
								});
							</script>
							{% set break = true %}
						{% endif %}
					{% endfor %}
				{% endif %}
				<script>
				$(function() {
					{% if is_product_page %}
						const qty = $('#content .product-block').find('input[name="quantity"]').val(), div = $('.product-page__option'), div1 = $('.quick-order__option');
					{% else %}
						let qty;
						$('.product-thumb__add-to-cart').each(function() {
							if($(this).data('pid') == {{ product_id }}) {
								qty = $(this).prev().find('input[name="quantity"]').val();
							}
						});
						
						const div = $('.product-thumb__option'), div1 = $('.quick-order__option');
					{% endif %}
					
					if(typeof(qty) != 'undefined' && qty > 1) {
						$('.quick-order').find('input[name="quantity"]').val(qty).change();
					}
					
					if(typeof(div != 'undefined') && typeof(div1 != 'undefined')) {
						const select_options = (div, div1) => {
							div.find('input:checked, option:selected').each(function() {
								div1.find('select option[value="'+$(this).val()+'"]').attr('selected', true).trigger('select').change();
								div1.find('input[type="radio"][value="'+$(this).val()+'"]').attr('checked', true).prop('checked', true).change();
								div1.find('input[type="checkbox"][value="'+$(this).val()+'"]').attr('checked', true).prop('checked', true).change();
							});
						}
					
						$('body').on('hide.bs.modal', '#modal-quick-order', () => {
							select_options(div1, div);
						});
						
						select_options(div, div1);
					}
				
					setTimeout(() => {
						$('.quick-order__image-additional').owlCarousel({
							responsive:{0:{items:4}, 300:{items:5 }},
							responsiveBaseElement:'.quick-order__image',
							dots: false,
							mouseDrag: false,
							loop: false,
							nav: true,
							navText: ['<i class="fa fa-chevron-left"></i>', '<i class="fa fa-chevron-right"></i>'],
						});
					}, 250);
				
					$('.quick-order__image-additional img').on('mouseover', function() {
						$('.quick-order__img').attr('src', $(this).attr('data-image'))
						$('.quick-order__image-additional img').addClass('selected').not($(this)).removeClass('selected');
					});
					
					{% if change_opt_img_q %}
						$('.quick-order .option__item input').on('click', function() {
							$('.quick-order__img').attr('src', $(this).next().data('thumb'));
						});
					{% endif %}
					
					if($('button.button-upload-{{ product_id }}').length) {
						$('button.button-upload-{{ product_id }}').on('click', function() {
							var node = this;

							$('#form-upload').remove();

							$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display:none;"><input type="file" name="file" /></form>');

							$('#form-upload input[name=\'file\']').trigger('click');

							if (typeof timer != 'undefined') {
								clearInterval(timer);
							}

							timer = setInterval(() => {
								if ($('#form-upload input[name=\'file\']').val() != '') {
									clearInterval(timer);

									$.ajax({
										url: 'index.php?route=tool/upload',
										type: 'post',
										dataType: 'json',
										data: new FormData($('#form-upload')[0]),
										cache: false,
										contentType: false,
										processData: false,
										beforeSend: function() {
											$(node).button('loading');
										},
										complete: function() {
											$(node).button('reset');
										},
										success: function(json) {
											$('.text-danger').remove();

											if (json['error']) $(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');

											if (json['success']) {
												alert(json['success']);
												$(node).parent().find('input').attr('value', json['code']);
											}
										},
										error: function(xhr, ajaxOptions, thrownError) {
											console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
										}
									});
								}
							}, 500);
						});
					}
				});
				
				{% if special_timer %}
					$('.quick-order__image-main').uniTimer({
						date   :'{{ special_timer }}',
						texts   :['{{ text_special_day }}','{{ text_special_hour }}','{{ text_special_min }}','{{ text_special_sec }}'],
						hideText :false,
						hideIsNull:false
					});
				{% endif %}
				
				{% if mask_telephone %}
					$('.quick-order__phone').mask('{{ mask_telephone }}').data('start', 0).on('click', function() {
						const start = $(this).val().indexOf('_');
						if(!$(this).data('start')) $(this).data('start', start);
						if(start == $(this).data('start')) $(this)[0].setSelectionRange(start, start);
					});
				{% endif %}
				
				{% if dadata %}
					$('.quick-order input[name="address"]').attr('autocomplete', 'off');
				
					$('.quick-order input[name="address"]').on('input', function() {
						suggestionAddress($(this).val(), 'address', this);
					});
				
					/*
					$.ajax({
						url: 'https://suggestions.dadata.ru/suggestions/api/4_1/rs/iplocate/address',
						headers: {'Content-Type': 'application/json', 'Accept': 'application/json', 'Authorization': 'Token {{ dadata.token }}'},
						data: 'ip={{ ip }}',
						dataType: 'json',
						type: 'get',				
						success: function(json) {
							if(json.suggestions) {
								console.log(json)
							}
						}
					});
					*/
				
					function suggestionAddress(query, type, elem){
						$('.dadata-suggestions').remove();
				
						let $this = $(elem), 
							top = $this.position().top + $this.outerHeight(), 
							left = $this.position().left + 8,
							locations = [{"country_iso_code": "RU"}, {"country_iso_code": "BY"}, {"country_iso_code": "KZ"}, {"country_iso_code": "UA"}];
					
						$.ajax({
							url: 'https://suggestions.dadata.ru/suggestions/api/4_1/rs/suggest/address',
							headers: {'Content-Type': 'application/json', 'Accept': 'application/json', 'Authorization': 'Token {{ dadata.token }}'},
							data: JSON.stringify({query: query, locations: locations, geoLocation: true, 'restrict_value': true, 'count': 20}),
							dataType: 'json',
							type: 'post',				
							success: function(json) {
								if(json.suggestions) {
								
									html = '<ul class="dadata-suggestions" style="top:'+top+'px;left:'+left+'px">';
								
									for (i = 0; i < json.suggestions.length; i++) {
									
										const result = json.suggestions[i];
									
										if(type == 'address') {
											html += '<li data-postcode="'+result.data.postal_code+'">'+result.value+'</li>';
										}
									}
								
									html += '</ul>';
								
									if(html.indexOf('<li') > -1) {
										$this.after(html);
									}
								
									$('body').on('click', '.dadata-suggestions li', function() {
										$this.val($(this).text());
									
										$(this).parent().remove();
									});
								}
							},
							error: function(xhr, ajaxOptions, thrownError) {
								console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
							}
						});
					}
				{% endif %}
				</script>
			</div>
		</div>
	</div>
</div>