{% if rating_type == 2 or (rating_type == 1 and (rating or show_rating)) %}
	{% if product.rating is defined %}
		<div class="product-thumb__rating rating uni-href" data-href="{{ product.href }}#tab-review">
			{% if rating_type == 2 %}
				{% for i in 1..5 %}
					<i class="{{ product.rating < i ? 'far fa-star' : 'fas fa-star' }}"></i>
				{% endfor %}
				{% if product.rating %}&nbsp;&nbsp;{{ product.text_reviews }}{% endif %}
			{% else %}
				{% if product.rating_new %}<i class="fas fa-star"></i>{{ product.rating_new|number_format(1) }} <i class="fas fa-comment"></i>{{ product.text_reviews }}{% endif %}
			{% endif %}
		</div>
	{% else %}
		<div class="{{ rating_position == 1 ? 'rating-model__rating' : 'product-page__rating' }} rating uni-href" onclick="$('a[href=\'#tab-review\']').click(); uniScrollTo('#tab-review');">
			{% if rating_type == 2 %}
				{% for i in 1..5 %}
					<i class="{{ rating < i ? 'far fa-star' : 'fas fa-star' }}"></i>
				{% endfor %}
				{% if rating %}&nbsp;&nbsp;{{ product.text_reviews }}{% endif %}
			{% else %}
				{% if product.rating_new %}<i class="fas fa-star"></i>{{ product.rating_new|number_format(1) }} <i class="fas fa-comment"></i>{{ product.text_reviews }}{% endif %}
			{% endif %}
		</div>
	{% endif %}
{% endif %}