<div id="cart" class="header-cart" title="{{ text_modal_heading }}">
	<div class="header-cart__btn dropdown-toggle" onclick="uniModalWindow('modal-cart', '', '{{ text_modal_heading }}', $('header').find('.header-cart__dropdown').html())">
		<i class="header-cart__icon fa fa-shopping-bag"></i>
		<span id="cart-total" class="header-cart__total-items">{{ items }}</span>
	</div>
	<div class="header-cart__dropdown">
		{% if products or vouchers %}
			<div class="header-cart__wrapper" data-products="{% for i, product in products %}{{ product.product_id }}{{ i + 1 < products|length ? ', ' }}{% endfor %}">
			{% for product in products %}
				<div class="header-cart__item">
					{% if product.thumb %}
						<div class="header-cart__image">
							<a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" {{ product.stock is empty ? 'style="filter:grayscale(1)"' }} /></a>
						</div>
					{% endif %}
					<div class="header-cart__item-wrapper">
						<div class="header-cart__name">
							<a href="{{ product.href }}">{{ product.name }}</a> 
							{% if not product.stock %}
								<div class="header-cart__stock">{{ error_cart_stock }}</div>
							{% endif %}
							{% if product.option %}
								{% for option in product.option %}
									<div class="header-cart__option-item">{{ option.name }}: {{ option.value }}</div>
								{% endfor %}
							{% endif %}
							{% if product.recurring %}
								<div class="header-cart__recurring">{{ text_recurring }} {{ product.recurring }}</div>
							{% endif %}
						</div>
						<div class="header-cart__quantity">
							<div class="qty-switch qty-switch__cart">
								<i class="qty-switch__btn fa fa-minus"></i> 
								<input type="text" name="quantity[{{ product.cart_id }}]" value="{{ product.quantity }}" data-minimum="{{ product.minimum }}" data-cid="{{ product.cart_id }}" data-pid="{{ product.product_id }}" class="qty-switch__input form-control" /> 
								<i class="qty-switch__btn fa fa-plus"></i>
							</div>
						</div>
						<div class="header-cart__price hidden-xs"><div class="header-cart__price-text">{{ column_price }}</div>{{ product.price }}</div>
						<div class="header-cart__total"><div class="header-cart__total-text hidden-xs">{{ column_total }}</div>{{ product.total }}</div>
					</div>
					<div class="header-cart__remove">
						<button type="button" onclick="cart.remove('{{ product.cart_id }}', {{ product.product_id }});" title="{{ button_remove }}" class="header-cart__remove-btn"><i class="far fa-trash-alt"></i></button>
					</div>
				</div>
			{% endfor %}
			{% for voucher in vouchers %}
				<div class="header-cart__item">
					<div></div>
					<div class="header-cart__item-wrapper">
						<div class="header-cart__name">{{ voucher.description }}</div>
						<div class="header-cart__quantity"></div>
						<div class="header-cart__price hidden-xs"><div class="header-cart__price-text">{{ column_price }}</div>{{ voucher.amount }}</div>
						<div class="header-cart__total"><div class="header-cart__total-text hidden-xs">{{ column_total }}</div>{{ voucher.amount }}</div>
					</div>
					<div class="header-cart__remove">
						<button type="button" onclick="voucher.remove('{{ voucher.key }}');" title="{{ button_remove }}" class="header-cart__remove-btn"><i class="far fa-trash-alt"></i></button>
					</div>
				</div>
			{% endfor %}
			</div>
			<div class="header-cart__totals">
				{% for total in totals %}
					<div class="header-cart__totals-item">
						<div class="header-cart__totals-title">{{ total.title }}:</div>
						<div class="header-cart__totals-text">{{ total.text }}</div>
					</div>
				{% endfor %}
			</div>
			<div class="header-cart__buttons">
				<button type="button" class="btn btn-lg btn-default" data-dismiss="modal">{{ button_continue_shopping }}</button>
				{% if uni_checkout_href %}
					<a href="{{ uni_checkout_href }}" class="btn btn-lg btn-primary">{{ button_to_checkout }}</a>
				{% else %}
					<!-- <a href="{{ cart }}"><small>{{ text_cart }}</small></a>&nbsp;&nbsp;&nbsp; -->
					<a href="{{ checkout }}" class="btn btn-primary">{{ text_checkout }}</a>
				{% endif %}
			</div>
		{% else %}
			<div class="header-cart__empty"><i class="header-cart__icon-empty fas fa-shopping-bag"></i><br />{{ text_empty }}</div>
		{% endif %}
	</div>
</div>