</main>
{{ topstripe }}
{{ pwa_notification }}
{{ notification }}
<footer class="footer {{ mobile_menu_bottom ? 'mobile-menu-bottom' }}">
	{{ subscribe }}
	<div class="container">
		<div class="row row-flex">
			{% set columns = (informations or footer_columns.1.links ? 1 : 0) + (footer_columns.2.links ? 1 : 0) + (footer_columns.3.links ? 1 : 0) + 1  %}
			{% if columns == 4 %}
				{% set class = 'col-sm-6 col-md-3' %}
			{% elseif columns == 3 %}
				{% set class = 'col-sm-6 col-md-4' %}
			{% elseif columns == 2 %}
				{% set class = 'col-sm-6 col-md-6' %}
			{% else %}
				{% set class = 'col-sm-12 col-md-12' %}
			{% endif %}
			{% if informations or footer_columns.1.links %}
				<div class="footer__column {{ class }}">
					<div class="footer__column-heading" data-toggle="collapse" data-target=".footer__column-ul-1" onclick="$(this).toggleClass('open')">
						{{ footer_columns.1.heading }} <i class="fas fa-chevron-down visible-xs"></i>
					</div>
					<ul class="footer__column-ul footer__column-ul-1 collapse list-unstyled">
						{% if informations %}
							{% for information in informations %}
								<li class="footer__column-li"><a href="{{ information.href }}" title="{{ information.title }}" class="footer__column-a">{{ information.title }}</a></li>
							{% endfor %}
						{% endif %}
						{% if footer_columns.1.links %}
							{% for footerlink in footer_columns.1.links %}
								<li class="footer__column-li"><a href="{{ footerlink.link }}" title="{{ footerlink.title }}" class="footer__column-a">{{ footerlink.title }}</a></li>
							{% endfor %}
						{% endif %}
					</ul>
				</div>
			{% endif %}
			{% if footer_columns.2.links %}
				<div class="footer__column {{ class }}">
					<div class="footer__column-heading" data-toggle="collapse" data-target=".footer__column-ul-2" onclick="$(this).toggleClass('open')">
						{{ footer_columns.2.heading }} <i class="fas fa-chevron-down visible-xs"></i>
					</div>
					<ul class="footer__column-ul footer__column-ul-2 collapse list-unstyled">
						{% for footerlink in footer_columns.2.links %}
							<li class="footer__column-li"><a href="{{ footerlink.link }}" title="{{ footerlink.title }}" class="footer__column-a">{{ footerlink.title }}</a></li>
						{% endfor %}
					</ul>
				</div>
			{% endif %}
			{% if footer_columns.3.links %}
				<div class="footer__column {{ class }}">
					<div class="footer__column-heading" data-toggle="collapse" data-target=".footer__column-ul-3" onclick="$(this).toggleClass('open')">
						{{ footer_columns[3].heading }} <i class="fas fa-chevron-down visible-xs"></i>
					</div>
					<ul class="footer__column-ul footer__column-ul-3 collapse list-unstyled">
						{% for footerlink in footer_columns.3.links %}
							<li class="footer__column-li"><a href="{{ footerlink.link }}" title="{{ footerlink.title }}" class="footer__column-a">{{ footerlink.title }}</a></li>
						{% endfor %}
					</ul>
				</div>
			{% endif %}
			<div class="footer__column {{ class }}">
				<div class="footer__column-heading footer__column-heading-addr">{{ text_footer_our_contacts }}</div>
				<ul class="footer__column-ul footer__contacts list-unstyled">
					{% for phone in footer_phone %}
						<li class="footer__column-li footer__contacts-li">
							{% if phone.icon %}
								<i class="footer__contacts-icon fa-fw {{ phone.icon }}"></i>
							{% elseif phone.img %}
								<img src="image/{{ phone.img }}" class="footer__contacts-img" alt="" />
							{% endif %}
							<a class="footer__column-a" href="{{ phone.href }}">{{ phone.number }}</a>
						</li>
					{% endfor %}
					{% if footer_mail %}<li class="footer__column-li footer__contacts-li"><i class="footer__contacts-icon fa fa-envelope fa-fw"></i><a class="footer__column-a" href="mailto:{{ footer_mail }}">{{ footer_mail }}</a></li>{% endif %}
				</ul>
				<div class="footer__column-heading footer__column-heading-addr">{{ text_footer_our_address }}</div>
				<ul class="footer__column-ul footer__contacts list-unstyled">
					{% if footer_address %}<li class="footer__column-li footer__contacts-li"><i class="footer__contacts-icon fa fa-map-marker fa-fw"></i><a class="footer__column-a" href="{{ contact_page_link }}">{{ footer_address }}</a></li>{% endif %}
					{% if footer_open %}<li class="footer__column-li footer__contacts-li"><i class="footer__contacts-icon fa fa-clock fa-fw"></i>{{ footer_open }}</li>{% endif %}
				</ul>
				{% if footer_columns.4.links %}
					<div class="footer__column-heading" data-toggle="collapse" data-target=".footer__column-ul-4" onclick="$(this).toggleClass('open')">
						{{ footer_columns.4.heading }}
						<i class="fas fa-chevron-down visible-xs"></i>
					</div>
					<ul class="footer__column-ul footer__column-ul-4 collapse list-unstyled">
						{% for footerlink in footer_columns.4.links %}
							<li class="footer__column-li"><a href="{{ footerlink.link }}" class="footer__column-a">{{ footerlink.title }}</a></li>
						{% endfor %}
					</ul>
				{% endif %}
			</div>
			{% if footer_text %}
				<div class="col-sm-12 hidden-xs">
					<div class="footer__text">{{ footer_text }}</div>
				</div>
			{% endif %}
		</div>
	</div>
	<div class="footer__socials-payments">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-6">
					<div class="footer__media">
						{% if socials %}
							{% for social in socials %}
								<i class="footer__socials-icon uni-href fab {{ social.icon }}" data-href="{{ social.link }}" data-target="_blank"></i>
							{% endfor %}
						{% endif %}
					</div>
				</div>
				<div class="col-sm-12 col-md-6">
					<div class="visible-xs visible-sm" style="height:15px"></div>
					<div class="footer__payments">
						{% for icon in payment_icons %}
							{% if 'catalog' in icon %}
								<img src="image/{{icon}}" alt="Payment system" class="footer__payments-icon" />
							{% else %}
								<div class="footer__payments-icon {{ icon }}"></div>
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<div class="fly-block {{ mobile_menu_bottom ? 'mobile-menu-bottom' }}">
	{% if wishlist %}
		<div class="fly-block__item fly-block__wishlist uni-href" data-href="{{ wishlist.href }}" title="{{ text_fly_wishlist }}" data-toggle="tooltip" data-products="{{ wishlist.products }}">
			<i class="far fa-heart fly-block__wishlist-icon"></i><span class="fly-block__total fly-block__wishlist-total">{{ wishlist.total }}</span>
		</div>
	{% endif %}
	{% if compare %}
		<div class="fly-block__item fly-block__compare uni-href" data-href="{{ compare.href }}" title="{{ text_fly_compare }}" data-toggle="tooltip" data-products="{{ compare.products }}">
			<i class="fas fa-align-right fly-block__compare-icon"></i><span class="fly-block__total fly-block__compare-total">{{ compare.total }}</span>
		</div>
	{% endif %}
	{% if show_fly_callback %}
		<div class="fly-block__item fly-block__callback" onclick="uniRequestOpen(['mail', 'phone', 'comment'])" {{ fly_callback_text ? 'title="'~fly_callback_text~'" data-toggle="tooltip"' }}>
			<i class="fa fa-phone fly-block__callback-icon"></i>
		</div>
	{% endif %}
	<div class="fly-block__item fly-block__scrollup" onclick="uniScrollTo('body')">
		<i class="fa fa-chevron-up fly-block__scrollup-icon" aria-hidden="true"></i>
	</div>
	<script>
		$(window).scroll(function(){		
			$(this).scrollTop() > 190 ? $('.fly-block__scrollup').addClass('visible') : $('.fly-block__scrollup').removeClass('visible');
		});
	</script>
</div>
<script>var uniJsVars = JSON.parse(atob('{{ js_vars }}'));</script>
{% if scripts_delayed %}
	<script>
		setTimeout(() => {
			{% for script in scripts_delayed %}
				$.getScript('{{ script }}');
			{% endfor %}
		}, {{ scripts_delayed_time*1000 }});
	</script>
{% endif %}
</body>
</html>